body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-istok-web: "Istok Web";

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-gainsboro: #d9d9d9;
  --color-black: #000;

  /* Border radiuses */
  --br-mid: 17px;
}
